<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="Header">
        <property name="headerFile" value="${config_loc}/header.txt"/>
    </module>
    <module name="TreeWalker">
        <!-- Imports -->
        <module name="AvoidStarImport"/>
        <!-- Imports as they are sorted by IntelliJ by default, see https://checkstyle.org/config_imports.html#CustomImportOrder_Examples -->
        <module name="CustomImportOrder">
            <property name="customImportOrderRules"
                      value="THIRD_PARTY_PACKAGE###SPECIAL_IMPORTS###STANDARD_JAVA_PACKAGE###STATIC"/>
            <property name="specialImportsRegExp" value="^javax\."/>
            <property name="standardPackageRegExp" value="^java\."/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
            <property name="separateLineBetweenGroups" value="false"/>
        </module>
        <module name="RedundantImport"/>
        <module name="UnusedImports"/>
    </module>
</module>
