name: Deploy documentation to GitHub Pages

on:
  push:
    branches: [ main ]

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.0.0
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3.12.0
        with:
          distribution: zulu
          java-version: 11
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2.8.0
      - run: "./gradlew :asciidoctor"
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: "./build/docs/asciidoc"

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
